h1 {
  font-size: 50px;
}

h2 {
  font-size: 45px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

p {
  font-size: 15px;
}

body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}

/*Button*/
.btn {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600px;
  width: 200px;
  color: white;
  background-color: tomato;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  background: rgb(255, 49, 8);
}

.btn-large {
  width: 300px;
}

/*span*/
.highlight-text {
  color: orange;
}

/*top section*/

.section-margin {
  width: 80%;
  margin: auto;
  margin-bottom: 90px;
}
.top {
  display: flex;
}

.top-heading {
  border-left: 7px solid;
  border-image: linear-gradient(white, red, tomato, white);
  border-image-slice: 1;
  padding-left: 5px;
}

.info {
  margin-right: 10px;
  padding-right: 100px;
}

.profile-pic img {
  width: 350px;
}

.my-mission h2 {
  text-align: center;
}
.mission-details {
  display: flex;
  justify-content: space-between;
}
.mission-design {
  width: 28%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
}

#mission {
  background-color: paleturquoise;
}

#vission {
  background-color: rgb(130, 190, 224);
}

#goal {
  background-color: rgb(134, 236, 197);
}

.mission-design img {
  width: 180px;
}

.margin-between {
  margin-right: 90px;
}

.div-shodow {
  border-radius: 10px;
  box-shadow: 0 0 10px grey;
}
#app-screenshot {
  width: 350px;
  height: 600px;
}

footer {
  background-color: black;
  color: white;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h3 {
  margin-bottom: 0;
  text-shadow: 3px 3px 5px gray;
}

.footer-span-color {
  color: tomato;
}
